<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.elk">

    <application
        android:allowBackup="true"
        android:icon="@drawable/deer"
        android:label="@string/app_name"
        android:roundIcon="@drawable/deer"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login" >

        </activity>
        <activity android:name=".FerrisWheel" >

        </activity>
        <activity android:name=".ferris_wheel.SampleKotlinActivity" >

        </activity>
        <activity android:name=".ferris_wheel.SampleKotlinActivityMonochrome" >

        </activity>
        <activity android:name=".Birthday" >

        </activity>
        <activity android:name=".photo" />
        <activity android:name=".TextSurfer" />
        <activity android:name=".MusicPlay" />
    </application>

    <!-- 权限管理-->

    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name= "android.permission.READ_PHONE_STATE"/>


    <permission android:name="dshapp.permission.OPEN_SETTINGS"
        android:protectionLevel="normal"/>


</manifest>